# Ignore the Virtual Environment (The 35k files)
venv/
env/
.venv/

# Ignore Secrets (CRITICAL)
.env
.env.local
.streamlit/secrets.toml

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore local databases and dbt artifacts
*.duckdb
dbt/target/
dbt/dbt_packages/
dbt/logs/
logs/

# Ignore OS files
.DS_Store