streamlit
pandas
altair
plotly
python-dotenv
llama-index
llama-index-core
llama-index-llms-gemini
llama-index-embeddings-gemini
# --- NEW DATABASE DEPS ---
duckdb
motherduck
sqlalchemy-duckdb
sqlalchemy
pycountry
# -------------------------
requests